body {
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: "Comic Sans MS";
    display: block;
    height: 100%;
}

#container {
    background-image: url('../images/landscape.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
    width: 9000px;
    height: 100%;
}

#story {
    position: relative;
    display: block;
}

/*  Parallax
============================================ */

#p-background {
	margin: auto auto;
	width: 100%;
	height: 100%;
}

#biker {
    top: -200px;
    left: -300px;
	position: absolute;
	background: url('../images/biker.png') no-repeat 0 0;
    height: 600px;
    width: 600px;
}

/* Intro Message
=================================================== */

#introduction {
    display: none;
    opacity: 0;
    position: absolute;
    width: 500px;
    height: 300px;
    margin: 50px 0 0 200px;
}

#introduction p {
    font-size: 40px;
}
