body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left:0;
    font-family: "Comic Sans MS";
    background-color: #eee;
    display: block;
}

.introduction {
}

section {
    width: 1000px;
    height: 720px;
    position: relative;
}

.first-part {
    background: url(../images/biker.png) no-repeat;
}

.second-part {
}

.third-part {
}

h1 {
    font-size: 18px;
    color: #fff;
}

a {
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
}

ul {
    margin: auto auto;
    padding: 0;
    width: 900px;
    height: 500px;
    list-style-type: none;
}

li {
   position: relative;

}

.bike-part-title {
    display: none;
    height: 30px;
}

/*  Parallax
/* ============================================ */

#container {
    height: 4064px;
    overflow: hidden;
    position: relative;
}

#landscape {
    background: url(../images/landscape.png) repeat-x bottom left;
    position:relative;
    overflow:hidden;
    width: 8000px;
    height: 6025px;
}


.parallax-layer {
    position:absolute;
}
